.container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 568px;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.container img {
  resize: both;
  overflow: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  color: var(--textColor);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.37px;
}

.subtitle {
  color: var(--softTextColor);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.highlight {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--softBg);
  padding: 5px;
  border-radius: 0.5rem;
  max-width: fit-content;
}

.fullAddress {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.abbreviatedAddress {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textContainer {
  background: transparent;
  border-radius: 0 0 5px 5px;
  margin-top: 5px;
}

.textContainer ul {
  padding: 0 2rem;
  list-style: disc !important;
}

.textContainer ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.textContainer h1,
.textContainer h2,
.textContainer h3,
.textContainer h4,
.textContainer h5,
.textContainer h6 {
  line-height: 1.1;
}

.textContainer a {
  text-decoration: underline;
  color: var(--accent);
}

.textContainer pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.textContainer code {
  color: #9a9a9a;
  padding: 0;
  background-color: var(--contrastBg);
  font-size: 0.8rem;
}

.textContainer blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.textContainer hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

.button {
  padding-inline: 2px;
  background-color: transparent;
  border: none;
  color: var(--textColor);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: row;
  color: var(--textColor);
  gap: 10px;
  border-radius: 20px;
  align-items: center;
  font-size: 11px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0.5rem;
}

.bottom {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.etaread {
  display: flex;
  align-items: center;
  gap: 2px;
}

.reactions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.horizontalDivider {
  width: 100%;
  height: 1px;
  background-color: var(--softBg);
  border: none;
}

.votes {
  display: flex;
  gap: 10px;
  align-items: center;
}

.react {
  display: flex;
  flex-direction: row;
  gap: 2px;
  background-color: var(--bg);
  color: var(--softTextColor);
  border: none;
  cursor: pointer;
}

.react:hover {
  color: var(--textColor);
}

@media (max-width: 1400px) {
  .container {
    flex-direction: column;
    padding-inline: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}

@media (max-width: 1400px) {
  .container {
    padding-inline: 150px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 0px;
  }

  .fullAddress {
    display: none;
  }

  .abbreviatedAddress {
    display: block;
  }
}
