.container {
  display: flex;
  flex-direction: column;
  background-color: var(--softBg);
  border-radius: 20px;
  min-height: calc(100vh - 100px - 100px);
  gap: 20px;
  /* Add gap between direct children */
  padding: 40px;
  color: var(--textColor);
  box-shadow: 0 25px 50px -12px var(--rblurredbg);
  /* Add shadow effect */
}

.title {
  font-size: 64px;
}

.address {
  display: flex;
  align-items: center;
  /* Aligns children elements (text and button) vertically */
  gap: 10px;
  /* Adds a small space between the text and the button */
  background-color: var(--softBgAddress);
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
}

.fullAddress {
  display: block;
  /* Ensure these are treated as block for flex item alignment */
  white-space: nowrap;
  /* Prevents the address from wrapping */
  overflow: hidden;
  /* Hides any overflow */
  text-overflow: ellipsis;
  /* Adds an ellipsis if the text overflows */
}

.abbreviatedAddress {
  display: none;
  /* Ensure these are treated as block for flex item alignment */
  white-space: nowrap;
  /* Prevents the address from wrapping */
  overflow: hidden;
  /* Hides any overflow */
  text-overflow: ellipsis;
  /* Adds an ellipsis if the text overflows */
}

.textContainer {
  color: var(--softTextColor);
}

.button {
  padding-inline: 2px;
  background-color: transparent;
  border: none;
  color: var(--textColor);
  cursor: pointer;
  display: flex;
  /* Ensures the icon aligns nicely */
  align-items: center;
  /* Center the icon vertically relative to the button */
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
  /* Add margin bottom for image container */
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: var(--softBg);
  color: var(--textColor);
  gap: 10px;
  border-radius: 20px;
}

.details {
  display: flex;
  flex-direction: row;
  color: var(--softTextColor);
  gap: 10px;
  align-items: center;
}

.etaread {
  display: flex;
  align-items: center;
  gap: 2px;
}

/*responsiveness*/
@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }

  .fullAddress {
    display: none;
    /* Hide full address on small screens */
  }

  .abbreviatedAddress {
    display: block;
    /* Show abbreviated address on small screens */
  }

  .description p {
    font-size: 18px;
  }
}
