.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: var(--textColor);
  gap: 10px;
  place-items: center; /* This centers the child elements horizontally and vertically */

}

.intro {
  text-align: center; 
  align-items: center;
  justify-content: center;
  box-shadow: var(--rblurredbg);
  padding: 20px; /* Added padding to create space around the box */
}

.intro h1 {
  font-size: 48px;
  /* Additional styles for h1 if needed */
}

.intro p {
  font-size: 18px;
  /* Additional styles for p if needed */
}
.sectionDivider {
  margin-top: 310px;
  background-color: var(--textColor); /* gray-200 */
  height: 40px; /* h-16 */
  width: 2px; /* w-1 */
  border-radius: 50%; /* rounded-full */
}
.features {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns by default */
  gap: 20px; /* Adjust the gap between grid items */
  width: 100%; /* Ensure the grid covers the full width of its parent container */
}

/* Media query for small devices */
@media screen and (max-width: 768px) {
  .features {
    grid-template-columns: 1fr; /* One column for small devices */
  }
}
