.wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 768px;
}



.arrow {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--textColor);
  display: block;
  /* Ensure arrows are displayed */
  z-index: 2;
  /* Ensure arrows are above other content */
}

.arrowLeft {
  position: absolute;
  left: 0;
}

.arrowRight {
  position: absolute;
  right: 0;
}

.container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;
  position: relative;
  /* Positioning for pseudo-elements */
  /* Space for the fading effect */
}

.container::-webkit-scrollbar {
  display: none;
}



.category {
  background: transparent;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  color: var(--textColor);
  white-space: nowrap;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.category:hover,
.category:focus {
  background-color: var(--softBg);
  color: var(--textColor);
}
