.container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 0.5rem;
  border: 1px solid var(--softBg);
  cursor: pointer;
  margin-bottom: 10px;

}

.title {
  color: var(--textColor);
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 21px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
  color: var(--softTextColor);
  line-height: 18px;
}

.category {
  background-color: var(--softBg);
  border-radius: 0.5rem;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 8px;
}

.author {
  background-color: var(--softBg);
  border-radius: 0.5rem;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 8px;
}