.container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 25px 50px -12px var(--rblurredbg);/* Add shadow effect */
    background-color: var(--softBg); /* Add !important to ensure the color is applied */
}

.content{
    margin-top:10px;
}

