.container {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
  position: relative;
}

.stickyContainer {
  position: sticky;
  top: 0; /* Stick it to the very top */
  background-color: var(--bg); /* Ensure a consistent background */
  border-bottom: 1px solid var(--borderColor); /* Optional: border between sections */
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--softBg);
  border-radius: 0.5rem;
  height: 40px;
  padding-left: 10px;
}

.categoryListContainer {
  margin-top: 10px; /* Space between search and category list */
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
  padding: var(--inputPadding);
  color: var(--textColor);
  font-size: 14px;
}

.searchIcon {
  color: var(--softTextColor);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  gap: 20px;
  position: sticky;
  top: 0; /* Stick it to the very top */
  height: fit-content;
  align-self: flex-start;
  background-color: var(--bg); /* Ensure a consistent background */
  padding-top: 20px; /* Space at the top */
}

.section h1 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.postElement {
  background-color: var(--softBg);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .rightContainer {
    display: none;
  }

  .leftContainer {
    flex: 1;
    width: 100%;
  }

  .section h1 {
    font-size: 18px;
    line-height: 26px;
  }

  .searchContainer {
    height: 35px;
    gap: 5px;
  }

  .searchInput {
    font-size: 12px;
    padding: 5px;
  }

  .postElement {
    padding: 8px;
  }
}
