/* Default color variables */
:root {
  --based: #020617;
  --basel: #f8fafc;
  --softBasel: #f1f5f9;
  --soft: #64748b;
  --softBased: #0f172a;
  --softBasedLighter: #1e2a45;
  --softBaselDarker: #d1d6da;
  --primary: #528ff8; /* Blue primary color */
  --secondary: #121f39; /* Blue secondary color */
  /* Blue shades */
  --lightBlueColor: #add8e6; /* Light blue */
  --mediumBlueColor: #87ceeb; /* Medium blue */
  --darkBlueColor: #4682b4; /* Dark blue */

   /* Blurred based and basel */
   --blurredbased: rgba(2, 6, 23, 0.8);
   --blurredbasel:rgba(241, 245, 249, 0.8);
 
}

/* Dark theme */
.dark {
  --bg: var(--based);
  --blurredbg:var(--blurredbased);
  --rblurredbg: rgba(255, 255, 255, 0.1);
  --textColor: var(--basel);
  --softBg: var(--softBased);
  --softBgAddress: var(--softBasedLighter);
  --softTextColor: var(--softBasel);
  /* Adjust opacity as needed */
  --contrastBg: var(--basel);
  --accent: var(--darkBlueColor); /* Blue accent color */
  /* Alternative accent color for dark theme */
  
}

/* Light theme */
.light {
  --bg: var(--basel);
  --blurredbg:var(--blurredbasel);
  --rblurredbg: rgba(0, 0, 0, 0.1);
  --textColor: var(--based);
  --softBg: var(--softBasel);
  --softBgAddress: var(--softBaselDarker);
  --softTextColor: var(--softBased);
  /* Adjust brightness as needed */
  --contrastBg: var(--based);
  --accent: var(--darkBlueColor); /* Blue accent color */
}

/* Rest of the CSS remains unchanged */

.wrapper {
  position: relative;
  background-color: var(--bg);
  z-index: 0;
  width: 100vw; /* Set width to 100vw */
  display: flex;
  align-items: center;
  justify-content: space-between; /* or justify-content: space-around; */
  scroll-behavior: smooth;

}


.container {
  width: 1536px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.main-content {
  flex: 1;
  position: relative;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--textColor);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg1{
  background-color: var(--accent);
  position: absolute;
  top: -6rem;
  right: 11rem;
  height: 31.25rem;
  width: 31.25rem;
  border-radius: 50%;
  filter: blur(10rem);
  z-index: -10;
}
.bg2{
  background-color: #dbd7fb;
  position: absolute;
  top: -1rem;
  left: -35rem;
  height: 31.25rem;
  width: 50rem;
  border-radius: 50%;
  filter: blur(10rem);
  z-index: -10;
}
.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--textColor);
}

/* responsiveness */
@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}

