.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--textColor);
  min-height: calc(100vh - 110px - 100px);
}


.title {
  font-size: 48px; /* Decreased font size for responsiveness */
  margin-bottom: 20px; /* Added margin bottom for spacing */
    background-image: linear-gradient(to right, var(--accent), var(--textColor));
    background-clip: text;
    color: transparent;
}

.desc {
  font-size: 1.2rem;
  line-height: 1.6; /* Increased line height for better readability */
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column; /* Changed to column layout for responsiveness */
  gap: 20px; /* Added gap between buttons */
  padding-top: 25px;
  align-items: center;
  justify-content: center;
}


.button {
  background-color: var(--bg);
  color: var(--textColor);
  padding: 12px 24px; /* Increased padding for better button size */
  border-radius: 25px; /* Adjusted border radius for a slightly rounded button */
  outline: none;
  border: 2px solid var(--accent);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease; /* Applied transition to all properties */
}

.button:hover {
  transform: scale(1.05); /* Slightly reduce scaling on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjusted box shadow for subtlety */
  border-color: var(--accent); /* Changed border color on hover */
}

@media (min-width: 768px) {
  .container {
    align-items: center;
  }

  .title {
    font-size: 72px; /* Reset font size */
    margin-bottom: 0; /* Reset margin */
    flex: 1; /* Expand to fill available space */
  }

  .desc {
    font-size: 1.2rem; /* Reset font size */
    margin-bottom: 0; /* Reset margin */
    flex: 1; /* Expand to fill available space */
  }

  .buttons {
    flex-direction: row; /* Change back to row layout */
  }
}
