
.container {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--softTextColor); /* Use the same color as the container */
  font-size: 13px;
}

.logo {
  color: var(--textColor);
}


.links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.links a {
  color: var(--softTextColor); /* Base link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition */
}
.links a:hover {
  color: var(--textColor); /* Darker color on hover */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto; /* Adjust height for smaller screens */
  }

  .links {
    flex-direction: column;
    align-items: center;
  }
}
