.container {
  display: flex;
  border-radius: 20px;
  min-height: calc(100vh - 110px - 100px); /* Adjust the heights of fixed elements as needed */
  background-color: var(--blurredbg);
  gap: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px var(--rblurredbg);/* Add shadow effect */
}

.sidebar {
  flex: 1; /* Let the sidebar take up remaining space */
  background-color: var(--softBg);
  color: var(--textColor);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileInfo {
  color: var(--textColor);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar .blog-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--contrastBg);
  border-radius: 5px;
}

.sidebar .blog-item:hover {
  background-color: var(--softBg);
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
