.container {
  display: flex;
  flex-direction: column;
  
  border-radius: 20px;
  min-height: calc(100vh - 110px - 100px);
  /* Adjust the heights of fixed elements as needed */
  background-color: var(--blurredbg);
  gap: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px var(--rblurredbg);
  /* Add shadow effect */
}

.head {
  background-color: var(--softBg);
  color: var(--textColor);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;

}

.info,
.data {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  gap:10px;
}

.data{
    display: flex;
    justify-content: end;

}
.articles{
  display: flex;
  justify-content: end;
  gap:10px;
}
.avatar {
  border-radius: 20px;
  background-color: var(--accent);
  width: 200px;
  height: 200px;
}
.ownposts{
  padding: 10px;
  gap:10px;
  display: flex;
  flex-direction: column;
  color: var(--softTextColor);

}

.post{
  background-color: var(--softBg);
}
.noArticlesPlaceholder{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--softBg);
}
.NoAccountPlaceholder, .NotConnectedPlaceholder{
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  color: var(--textColor);
}

.disclaimer{
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
  justify-content: center;  
  background-color: var(--softBg);
  padding: 10px;
  border-radius: 20px;
  gap:20px;
  
}

.button {
  min-width: 120px;
  padding: 10px ;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  background-color: var(--bg);
  color: var(--textColor);
  cursor: pointer;
  border: 2px solid var(--accent);
  transition: all 0.3s ease;
}


.paragraph {
  font-size: 16px;
  line-height: 1.5;
  text-align: center; /* Center-align the text */
}
.accent{
  color: var(--accent);
  font-weight:bold;
}
.address {
  color: var(--textColor);
  background-color: var(--softBgAddress); /* Add border around the address */
  padding: 5px 10px; 
  border-radius: 20px; /* Add rounded corners to the border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  max-width: fit-content;
}
.addressinfo{
  background-color: transparent;
  color: var(--textColor);
  border: none;
  padding-inline: 2px ;
  cursor: pointer;
}
@media (max-width: 768px) {
  .top {
    flex-direction: column;
  }
}