.container {
  padding-inline: 20px;
  padding-bottom: 4px;

  font-weight: 500;
  text-align: center;
  text-decoration: none; /* Remove default underline */
  color: var(--soft); /* Default text color */
}

.active {
  color: var(--softTextColor); /* Text color for active link */
  border-bottom: 2px solid var(--softTextColor); /* Bold underline when active or hovered */
  margin-inline: 20px;
  padding-inline: 0px;
  font-weight: 700;
}
.container:hover{
  color:var(--softTextColor);
  font-weight: 700;
}
.icon{
  display: none;
}

@media (max-width: 768px) {
  .text {
    display: none;
  }
  .icon{
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
  }
}